# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.opendb
MinNetIOCP/.vs/MinNetIOCP/v14/.suo
MinNetIOCP/MinNetIOCP.VC.db
MinNetIOCP/x64/Debug/MinNetIOCP.idb
MinNetIOCP/x64/Debug/MinNetIOCP.log
MinNetIOCP/x64/Debug/MinNetIOCP.pdb
MinNetIOCP/x64/Debug/MinNetIOCP.tlog/CL.write.1.tlog
